{% extends "base_generic.html" %}

{% block content %}
  <h2>{{ tool.tool }}</h2>

  <p><strong>Pick up at:</strong> <a href="">{{ tool.host }}</a></p> <!-- host detail link not yet defined -->
  <p><strong>Description:</strong> {{ tool.description }}</p>
  <p><strong>Type:</strong> {{ tool.tool_type.all|join:", " }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Availability</h4>

    {% for copy in tool.toolinstance_set.all %}
      <hr>
      <p><span class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
        {{ copy.get_status_display }}
      </span>
      {% if copy.status != 'a' %}
          -  <strong>Due:</strong> {{ copy.due_back }}</p>
      {% endif %}
       {% endfor %}
  </div>
{% endblock %}